<div class="card card-body">
  <h3>Job Card</h3>
  <form action="/ideas" method="post">
    {{!-- Consultant --}}
    <span class="text-center lead text-white" style="background:#34495e">Consultant</span>
    <hr>
    <div class="form-group">
      <label for="taskid">Task Id</label>
      <input type="text" name="taskid" class="form-control">
    </div>
    <div class="form-group">
      <label for="action">Action</label>
      <input type="text" class="form-control" name="action">
    </div>
    <div class="form-group">
      <label for="problem">Problem</label>
      <input type="text" name="problem" class="form-control">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" name="address" class="form-control">
    </div>
    <div class="form-group">
      <label for="suburb">Suburb</label>
      <input type="text" name="suburb" class="form-control">
    </div>
    <div class="form-group">
      <label for="customername">Customer Name</label>
      <input type="text" name="customername" class="form-control">
    </div>
    {{!-- Contractor --}}
    <hr>
    <span class="text-center lead text-white" style="background:#c0392b">Contractor</span>
    <hr>
    <div class="form-group">
      <label for="assignedto">Assign JC To:</label>
      <input type="text" value="N/A" name="assignedto" class="form-control">
    </div>
    <div class="form-group">
      <label for="status">Job Card Status</label>
      <input type="text" value="N/A" name="status" class="form-control">
    </div>
    {{!-- Service Worker --}}
    <hr>
    <span class="text-center lead text-white" style="background: #1abc9c">Service Worker</span>
    <div class="form-group">
      <label for="standnumber">Stand Number</label>
      <input type="text" value="N/A" name="standnumber" class="form-control">
    </div>
    <div class="form-group">
      <label for="streetnumber">Street Number</label>
      <input type="text" value="N/A" name="streetnumber" class="form-control">
    </div>
    <div class="form-group">
      <label for="streetname">Street Name</label>
      <input type="text" value="N/A" name="streetname" class="form-control">
    </div>
    <div class="form-group">
      <label for="meternumber">Meter Number</label>
      <input type="text" value="N/A" name="meternumber" class="form-control">
    </div>
    <div class="form-group">
      <label for="metertype">Meter Type</label>
      <input type="text" value="N/A" name="metertype" class="form-control">
    </div>
    <div class="form-group">
      <label for="reading">Readings: </label>
      <input type="text" value="N/A" name="reading" class="form-control">
    </div>
    <div class="form-group">
      <label for="dails">Dails</label>
      <input type="text" value="N/A" name="dails" class="form-control">
    </div>
    <div class="form-group">
      <label for="size">Sizes</label>
      <input type="text" value="N/A" name="size" class="form-control">
    </div>
    <div class="form-group">
      <label for="agedreplacement">Aged Replacements</label>
      <input type="text" value="N/A" name="agedreplacement" class="form-control">
    </div>
    <div class="form-group">
      <label for="waterleaks">Waterleaks</label>
      <input type="text" value="N/A" name="waterleaks" class="form-control">
    </div>
    <div class="form-group">
      <label for="fittingsused">Fittings Used</label>
      <input type="text" value="N/A" name="fittingsused" class="form-control">
    </div>
    <div class="form-group">
      <label for="image">Upload Image</label>
      <input type="file" value="N/A" name="fittingsused" class="form-control">
    </div>
    <div class="form-group">
      <label for="geolocation">Geolocation</label>
      <input type="button" value="Get Location" name="fittingsused" class="form-control">
    </div>

    <button type="submit" class="btn btn-dark mt-3">Submit</button>
  </form>
</div>