<div class="card">
  <div class="card-header">
    Status Log
  </div>
  <div class="card-body">
    <h5 class="card-title">Task ID's Log</h5>
    <p class="card-text">
      Task ID's Received: 3
    </p>
    <p class="card-text">
      Open Job Cards ID's: 3
    </p>
    <p class="card-text">
      Completed Job Cards ID's: 0
    </p>
    <p class="card-text">
      Returned Job Cards: N/A
    </p>
    <p class="card-text">
      Invoiced Job Cards: N/A
    </p>
    <p class="card-text">
      Remaining Task ID's For Invoicing: N/A
    </p>
  </div>
</div>