<div class="card">
  <div class="card-header">
    Status Log
  </div>
  <div class="card-body">
    <h5 class="card-title">Task ID's Log</h5>
    <p class="card-text">
      Task ID's Received: N/a
    </p>
    <p class="card-text">
      Open Job Cards ID's: N/A
    </p>
    <p class="card-text">
      Completed Job Cards ID's: N/A
    </p>
    <p class="card-text">
      Returned Job Cards: N/A
    </p>
    <p class="card-text">
      Invoiced Job Cards: N/A
    </p>
    <p class="card-text">
      Remaining Task ID's For Invoicing: N/A
    </p>
  </div>
</div>
<br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task ID's Received</th>
        <th scope="col">Date Received</th>
        <th scope="col">Job Type</th>
        <th scope="col">Open JC ID's</th>
        <th scope="col">Installation Aging Period</th>
        <th scope="col">Completed Job Card ID's</th>
        <th scope="col">Date Completed</th>
        <th scope="col">Returned Job Cards</th>
        <th scope="col">Date Returned</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
    </tbody>
  </table>
</div>